body {
    background-color: white;
}
.grid-container {
    margin: 0 auto;
    width: 400px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-item {
    
    display: grid;
    width: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.circle {
    margin: 0 auto;
    background-color: grey;
    border-radius: 50%;
    width:  80%;
    height: 80%;
    
    transition: transform 1s ease-in-out;
    
}
.circle:active {
transform: translateY(105px);
}
.circle:hover {
border: 3px solid blue;
}
.grid-item-black {
    background-color: black;
    margin: grid;
    width: 100px;
    height: 100px;

}
.grid-item-white {
    background-color: white;
    margin: grid;
    width: 100px;
    height: 100px;
}
#grid-item-blue {
    background-color: blue;
    margin: grid;
    width: 100px;
    height: 100px;
}